click==8.0.3
cycler==0.11.0
Flask==2.0.2
fonttools==4.28.3
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
kiwisolver==1.3.2
lightgbm @ file:///Users/runner/miniforge3/conda-bld/lightgbm_1637422819605/work
MarkupSafe==2.0.1
matplotlib==3.5.1
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1636145439860/work
packaging==21.3
pandas==1.3.4
Pillow==8.4.0
psycopg2==2.9.2
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1636784348537/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1637806815742/work
six==1.16.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1633102299089/work
Werkzeug==2.0.2
xgboost==0.90
